.delete-button {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  border: 0;
  background-image: url("../../images/trash.svg");
  background-color: rgba(0,0,0,0);
  cursor: pointer;
}

.delete-button:hover {
  opacity: 0.6;
}