.popup__description {
  margin: 30px auto 0;
  padding: 0 0 13px 0;
  box-sizing: border-box;
  border: 0;
  width: 358px;
  height: 27px;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #000000;
}

.popup__description:focus {
  outline-color: black;
  outline-style: solid;
}

@media screen and (max-width: 580px) {
  .popup__description {
    width: 238px;
  }
}