.popup__name {
  margin: 54px auto 0;
  padding: 0 0 13px;
  border: 0;
  display: block;
  box-sizing: border-box;
  width: 358px;
  height: 27px;
  /*opacity: 0.2;*/
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #000000;
}

.popup__name:focus {
  outline-color: black;
  outline-style: solid;
}

@media screen and (max-width: 580px) {
  .popup__name {
    margin: 75px 22px 0;
    width: 238px;
  }
}