.footer {
  margin: 66px auto 60px;
  padding: 0;
  max-width: 880px;

  /*border: 1px solid red;*/
}

@media screen and (min-width: 581px) and (max-width: 879px) {
  .footer {
    max-width: 581px;
  }
}

@media screen and (max-width: 580px) {
  .footer {
    max-width: 282px;
    margin-top: 48px;
  }
}