.element {
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  background-color: #FFFFFF;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}