.profile__name {
  margin: 0;
  padding: 0;
  max-width: 500px;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  /* or 114% */
  display: inline-block;
  /*border: 1px dashed white;*/
  color: #FFFFFF;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 879px) {
  .profile__name {
    margin-left: 46px;
    font-size: 27px;
    line-height: 33px;
    text-align: center;

    color: #FFFFFF;
  }
}