.popup__save-button {
  margin: 48px auto 37px;
  padding: 0;
  width: 358px;
  height: 50px;
  display: block;
  background-color: black;
  border-radius: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border: 0;
  cursor: pointer;

  color: #FFFFFF;
}

.popup__save-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 580px) {
  .popup__save-button {
    margin: 45px auto 25px;
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}